
html, body {
	height: 100%;
	margin: 0px 0px;
	font-family: 'Handlee', cursive;
	background-image: url(https://images.unsplash.com/photo-1571607050173-323d37e16af4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	color: #563bde;
}

#startScreen {
	display: grid;
	grid-template-rows: 1fr 3fr 2fr 2fr;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	background-color: white;
	background-image: url(https://images.unsplash.com/photo-1571607050173-323d37e16af4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	width: 100%;
	height: 100%;
}

button {
	font-family: 'Handlee', cursive;
	font-size: 35px;
	border-radius: 10px;
	background-color: #f2badb;
	border: 2px solid #4476ea;
	color: #1486d8;
}

button:focus {
	outline: 0;
}

button:hover {
	background-color: #ea71b9;
	border: 2px solid #2f66e4;
	color: white;
	box-shadow: 0 0 30px #4021ec;
}

h1 {
	font-size: 100px;
}

#pageContainer > h1 {
	font-size: 60px;
	color: #4476ea;
}

.startItem {	
	margin: auto;
}

#pageContainer {
	display: grid;
	height: 100%;
	grid-template-rows: 6fr 400px 7fr; 
}

.pageItem {
	margin: auto;
}

#board {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	height: 400px;
	width: 400px;
}

h2 {
	margin: 0px 0px;
	font-size: 80px;	
	font-family: 'Handlee', cursive;	
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;	
}

.midHor {
	border-left: 4px solid #353aab;
	border-right: 4px solid #353aab;
}

.midVer {
	border-top: 4px solid #353aab;
	border-bottom: 4px solid #353aab;
}
